<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% for( let i = 0; i < allPosts.length; i++ ) { %>
    <h1><%= allPosts[i].postTitle %></h1>
    <p><%= allPosts[i].postBody %></p>
<% } %>
<%- include('partials/footer'); -%>
