<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% for( let i = 0; i < allPosts.length; i++ ) { %>
    <h1><%= allPosts[i].title %></h1>
    <p><% if (allPosts[i].body.length > 100) { %>
        <%= allPosts[i].body.substring(0, 100); %> 
        <a href="/post/<%= allPosts[i]._id %> "> ... read more</a>
    <% } else { %>
        <%= allPosts[i].body %>
        <a href="/post/<%= allPosts[i]._id %> "> read more</a>
    <% }  %>
    </p>
<% } %>
<%- include('partials/footer'); -%>
