<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% for( let i = 0; i < allPosts.length; i++ ) { %>
    <h1><%= allPosts[i].postTitle %></h1>
    <p><% if (allPosts[i].postBody.length > 100) { %>
        <%= allPosts[i].postBody.substring(0, 100); %> 
        <a href="/post/<%= i+1 %> "> ... read more</a>
    <% } else { %>
        <%= allPosts[i].postBody %>
        <a href="/post/<%= i+1 %> "> read more</a>
    <% }  %>
    </p>
<% } %>
<%- include('partials/footer'); -%>
